<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeeUsuariosEncriptadosWSEscribeEnActiveDirectory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <LeeUsuariosEncriptadosWSEscribeEnActiveDirectory.Properties.Settings>
            <setting name="LoopTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="secureID" serializeAs="String">
                <value>i535y5t3m</value>
            </setting>
            <setting name="securePassword" serializeAs="String">
                <value>s3cur3@bu4pMx1s3</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>fyfAyt17oIFXyTJnKswGUUVDlFGJkpgq</value>
            </setting>
            <setting name="iv" serializeAs="String">
                <value>0123456789ABCDEF</value>
            </setting>
            <setting name="LDAP" serializeAs="String">
                <value>172.24.0.222:389/CN=Users,DC=ISETEST,DC=buap,DC=mx</value>
            </setting>
            <setting name="adminUsername" serializeAs="String">
                <value>ISETEST.buap.mx\administrador</value>
            </setting>
            <setting name="adminPassword" serializeAs="String">
                <value>isatbuap.08</value>
            </setting>
        </LeeUsuariosEncriptadosWSEscribeEnActiveDirectory.Properties.Settings>
    </applicationSettings>
</configuration>